@font-face {
  font-family: "Favorit";
  src: url("./resources/Favorit.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Code VF";
  src: url("/resources/FiraCode-VF.woff2") format("woff2-variations"),
    url("/resources/FiraCode-VF.woff") format("woff-variations");
  /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
  font-weight: 300 700;
  font-style: normal;
}

* {
  transition: 0.3s;
  scrollbar-width: none;
}

:root {
  --white-primary-5: color-mix(in srgb,
      rgb(var(--white)),
      rgb(var(--primary)) 5%);
  --white-primary-10: color-mix(in srgb,
      rgb(var(--white)),
      rgb(var(--primary)) 10%);
  --white-primary-20: color-mix(in srgb,
      rgb(var(--white)),
      rgb(var(--primary)) 20%);
  --white-primary-30: color-mix(in srgb,
      rgb(var(--white)),
      rgb(var(--primary)) 30%);
  --white-primary-40: color-mix(in srgb,
      rgb(var(--white)),
      rgb(var(--primary)) 40%);
  --white-primary-60: color-mix(in srgb,
      rgb(var(--white)),
      rgb(var(--primary)) 60%);
  --white-primary-80: color-mix(in srgb,
      rgb(var(--white)),
      rgb(var(--primary)) 80%);
  --white-primary-90: color-mix(in srgb,
      rgb(var(--white)),
      rgb(var(--primary)) 90%);
  --white-accent-10: color-mix(in srgb,
      rgb(var(--white)),
      rgb(var(--accent)) 10%);
  --white-accent-50: color-mix(in srgb,
      rgb(var(--white)),
      rgb(var(--accent)) 50%);
  --white-accent-80: color-mix(in srgb,
      rgb(var(--white)),
      rgb(var(--accent)) 80%);
  --black-primary-60: color-mix(in srgb,
      rgb(var(--black)),
      rgb(var(--primary)) 60%);
  --accent-primary-10: color-mix(in srgb,
      rgb(var(--accent)),
      rgb(var(--primary)) 10%);
  --accent-primary-30: color-mix(in srgb,
      rgb(var(--accent)),
      rgb(var(--primary)) 30%);

  --border-radius-sm: 3px;
  --border-thickness-sm: 2px;
  --border-thickness-lg: 3px;
}

* {
  transition: 0.3s;
  scrollbar-width: none;
}

html {
  display: flex;
  justify-content: center;
}

body {
  flex: 1;
  min-width: 360px;
  min-height: fit-content;
  max-width: 720px;
  margin: 0;
  padding: 0;
  background: rgb(var(--primary));
}

p,
h1,
h2,
h3,
span,
a,
ul,
li,
figure,
section,
button,
textarea,
input {
  font-family: "Atkinson Hyperlegible", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: rgb(var(--black));
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

#icons-container {
  width: 0;
  height: 0;
  overflow: hidden;
}

#ui-menu {
  position: relative;
  background: rgb(var(--primary));
  border-radius: var(--border-radius-sm);
  height: 100vh;
}

#ui-tabs {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  background: rgb(var(--primary));
  border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
}

#ui-menu button {
  cursor: pointer;
}

.ui-tab {
  flex-grow: 1;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  color: rgba(var(--white-on-dark) / 0.7);
  background: rgba(var(--black) / 0.2);
  border: none;

  &:first-of-type {
    border-radius: var(--border-radius-sm) 0 0 0;
  }

  &:last-of-type {
    border-radius: 0 var(--border-radius-sm) 0 0;
  }

  &[active="true"] {
    color: rgb(var(--white-on-dark));
    background: rgb(var(--primary));
  }

  &:hover {
    flex-grow: 1.1;
    color: rgb(var(--white-on-dark));
    background: rgba(var(--white-on-dark) / 0.1);
  }
}

.ui-section {
  position: absolute;
  top: 48px;
  left: 8px;
  display: none;
  overflow: clip;
  width: calc(100% - 16px);
  height: calc(100% - 56px);
  background: rgb(var(--white));
  border-radius: var(--border-radius-sm);

  &>ul {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--white-primary-40) var(--white-primary-20);
  }
}

.ui-section[active="true"] {
  display: block;
}

#ui-featureTabs {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--white-primary-20);
  border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
}

.ui-row {
  order: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
}

.ui-row:has(button[active="true"]) {
  order: 2;
}

.ui-featureTab {
  font-size: 15px;
  flex-grow: 1;
  background-color: var(--white-primary-20);
  border: none;
  border-radius: var(--border-radius-sm);
  text-decoration: underline var(--white-primary-40) 2px;
  text-underline-position: under;
  padding-bottom: 4px;

  &[active="true"] {
    background-color: rgb(var(--white));
    cursor: default !important;
    border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
    text-decoration-color: rgb(var(--accent));
  }

  &:not([active="true"]):hover {
    flex-grow: 1.25;
    background-color: var(--white-primary-30);
  }

  &[target="all"] {
    padding-bottom: 2px;
  }
}

.ui-filterWidgets {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: .5rem 1rem;
}

.ui-filterWidgets button {
  font-family: "Fira Code", "Courier New", Courier, monospace;
  font-weight: 700;
  border: none;
  padding: 2px 4px;
  border-radius: var(--border-radius-sm);
  color: rgb(var(--white));
  background-color: var(--white-primary-20);
}

.ui-filterWidgets button:hover {
  background-color: var(--white-primary-30);
}

.ui-filterWidgets button[data-state="active"] {
  background-color: rgb(var(--accent));
}

#ui-featureSearch {
  border: none;
  border-bottom: var(--border-thickness-sm) solid var(--white-primary-40);
  outline: none;
  font-size: 15px;
  background-color: transparent;

  &:not([active="true"] > input) {
    padding: 0;
    width: 48px;
    text-align: center;
    border-bottom: var(--border-thickness-sm) solid var(--white-primary-40);
    cursor: pointer;

    &::placeholder {
      opacity: 1;
    }
  }

  &:is([active="true"] > input) {
    border-bottom-color: rgb(var(--accent));
  }
}

div.ui-featureCategory {
  display: none;
}

div.ui-featureCategory[active="true"] {
  display: block;
}

ul.ui-featureCategory {
  margin: 8px 0;
  padding: 0;
}

#ui-featureContainer {
  height: calc(100vh - 185px);
  padding: 0 8px 8px;
}

#ui-featureContainer>li {
  list-style-type: none;
  position: relative;
  padding: 8px;
  background: var(--white-primary-10);
  border: var(--border-thickness-sm) solid rgba(var(--black) / 0.13);
  border-radius: var(--border-radius-sm);

  &:not(#ui-all[active="true"] ~ ul li[data-category],
    #ui-search[active="true"] ~ ul li[data-category],
    #ui-dashboard[active="true"] ~ ul li[data-category~="dashboard"],
    #ui-navigation[active="true"] ~ ul li[data-category~="navigation"],
    #ui-activity[active="true"] ~ ul li[data-category~="activity"],
    #ui-sidebar[active="true"] ~ ul li[data-category~="sidebar"],
    #ui-posts[active="true"] ~ ul li[data-category~="posts"],
    #ui-messaging[active="true"] ~ ul li[data-category~="messaging"],
    #ui-appearance[active="true"] ~ ul li[data-category~="appearance"],
    #ui-utility[active="true"] ~ ul li[data-category~="utility"]) {
    display: none;
  }

  &:not(:last-of-type) {
    margin-bottom: 4px;
  }

  &:has(input:checked:not([dummy], .ui-options input)),
  &:has(input[active="true"]) {
    background: var(--white-accent-10);
    border: var(--border-thickness-sm) solid rgb(var(--accent));
  }

  &[data-new="true"] {
    background: rgb(var(--purple) / 0.16) !important;
    border: var(--border-thickness-sm) solid rgb(var(--purple) / 0.8) !important;
  }
}

.ui-primaryContent {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  h2 {
    text-align: left;
    flex-basis: 216px;
  }
}

.ui-secondaryContent {
  display: none;

  &[active="true"] {
    display: block;
    margin-top: 8px;
  }

  >p {
    margin-bottom: 8px;
    background: rgb(var(--white));
    padding: 8px;
    border-bottom: var(--border-thickness-sm) solid var(--white-primary-20);
    border-radius: var(--border-radius-sm);
  }
}

.ui-featureTitle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: transparent;
  width: 100%;
}

.ui-caretWrapper {
  height: calc(100% - 6px);
  padding-top: 6px;
}

.ui-toggleWrapper {
  margin-left: 8px;
}

.ui-toggle,
.ui-listSelect {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
  margin: 0;
}

.ui-options {
  display: flex;
  flex-flow: column nowrap;

  h2 {
    border-bottom: var(--border-thickness-sm) solid rgba(var(--black) / 0.26);
    margin-bottom: 8px;
  }
}

input.ui-toggle+label {
  position: relative;
  display: block;
  cursor: pointer;
  text-indent: -9999px;
  width: 48px;
  height: 36px;
  background-color: rgba(var(--black) / 0.3);
  border-radius: var(--border-radius-sm);

  &:before {
    z-index: 3;
    content: "";
    position: absolute;
    width: 12px;
    height: 32px;
    background: rgb(var(--white));
    top: 2px;
    left: 2px;
    border-radius: var(--border-radius-sm);
    transition: 0.3s;
  }

  &:after {
    z-index: 2;
    content: "◯";
    text-indent: 0;
    color: rgb(var(--black) / 0.2);
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 9.5px;
    right: 6px;
    border-radius: var(--border-radius-sm);
    transition: 0.3s;
  }

  &:active {
    background: var(--white-primary-30);

    &:before {
      width: 16px;
    }

    &:after {
      right: 4px;
    }
  }
}

input.ui-toggle:checked+label {
  background: rgb(var(--accent));
  transform: rotate(90deg);
  margin-right: -4px;
  width: 40px;

  &:before {
    left: calc(100% - 2px);
    transform: translateX(-100%);
    top: 2px;
  }

  &:after {
    content: "—";
    color: rgb(var(--white));
    right: calc(100% - 4px);
    transform: translateX(100%);
    top: 7px;
  }

  &:active:after {
    right: calc(100% - 2px);
  }
}

.ui-inputWrapper {
  position: relative;
  background: rgb(var(--white));
  padding: 4px 8px;
  border-bottom: var(--border-thickness-sm) solid var(--white-primary-20);
  border-radius: var(--border-radius-sm);

  &:not(:last-of-type) {
    margin-bottom: 8px;
  }

  label {
    display: block;
    text-align: left;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
  }

  &:has(.ui-colorInput) {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
}

.ui-checkboxWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  label {
    max-width: calc(100% - 44px);
    cursor: pointer;
  }
}

.ui-checkbox {
  appearance: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  user-select: none;
  border: var(--border-thickness-sm) solid rgba(var(--black) / 0.26);
  border-radius: 8px;
  color: rgb(var(--accent));
  height: 24px;
  width: 24px;

  &:checked {
    border-color: rgb(var(--accent));
    background-image: url("data:image/svg+xml,%3csvg viewBox=%270 0 16 16%27 fill=%27white%27 xmlns=%27http://www.w3.org/2000/svg%27%3e%3cpath d=%27M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z%27/%3e%3c/svg%3e");
    background-size: 100% 100%;
    background-color: currentColor;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.ui-numInputWrapper {
  text-align: right;
}

.ui-numInput {
  border: var(--border-thickness-sm) solid transparent;
  border-radius: var(--border-radius-sm);
  outline: none;
  padding: 4px;
  margin-top: 4px;
  background: var(--white-primary-5);

  &:focus {
    border-color: rgb(var(--purple));
    background: rgb(var(--white));
  }
}

select {
  appearance: none;
  cursor: pointer;
  color: rgb(var(--black));
  border: var(--border-thickness-sm) solid rgba(var(--black) / 0.26);
  border-radius: var(--border-radius-sm);
  padding: 8px 36px 8px 12px;
  font-size: 18px;
  font-family: inherit;
  line-height: 1.5;
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 fill=%27none%27 viewBox=%270 0 20 20%27%3e%3cpath stroke=%27%23827F7C%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%271.5%27 d=%27M6 8l4 4 4-4%27/%3e%3c/svg%3e");
  background-position: right 8px center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  background-color: rgb(var(--white));
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  width: 100%;

  &:focus {
    background-color: rgb(var(--white));
    border-color: rgb(var(--purple));
  }
}

.ui-multiSelectWrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.25rem;
  margin-top: 0.25rem;
  padding-left: 0.5rem;
  border-left: var(--border-thickness-sm) solid var(--white-primary-40);
}

.ui-listSelectWrapper {
  max-height: 10rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  overflow: auto;
  scrollbar-width: thin;
  border-radius: 3px;
  gap: 0.25rem;
}

.ui-listSelect+label {
  cursor: pointer;
  background-color: var(--white-primary-20);
  border-radius: 3px;
  font-size: 18px;
  text-align: center;
  width: calc(100% - 4px);

  &:hover {
    background-color: var(--white-primary-10);
  }
}

input.ui-listSelect:checked+label {
  background-color: rgb(var(--accent));

  &:hover {
    background-color: var(--accent-primary-10);
  }
}

.ui-textInput {
  resize: none;
  width: 100%;
  border: var(--border-thickness-sm) solid var(--white-primary-60);
  border-radius: var(--border-radius-sm);
  outline: none;
  padding: 4px;
  font-size: 14px;
  box-sizing: border-box;
  background: var(--white-primary-5);

  &::placeholder {
    &::placeholder {
      opacity: 0.65;
    }
  }

  &textarea {
    height: 96px;
  }

  &:focus {
    border-color: rgb(var(--accent));
    background: rgb(var(--white));
  }
}

.ui-colorInput {
  appearance: none;
  font-family: "Atkinson Hyperlegible", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 1.5rem;
  padding: 0 1rem;
  width: 100%;
  border-radius: var(--border-radius-sm);
  flex: 1;
}

.ui-colorInput-hidden {
  display: none;
}

.ui-reset {
  flex: 0;
}

.ui-rangeInputWrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  h2 {
    font-size: 18px;
  }

  datalist {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 8px);
    padding: 0 4px;
  }

  option {
    padding: 0;
    font-weight: bold;
  }
}

.ui-rangeInput {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  border-radius: 20px;
  padding: 0 4px;
  margin: 0;
  background-color: var(--white-primary-10);
  cursor: pointer;

  &:hover {
    background-color: var(--white-primary-10);
  }

  &:focus {
    outline: none;
  }
}

.ui-rangeInput::-webkit-slider-runnable-track,
.ui-rangeInput::-moz-range-track {
  background-color: var(--white-primary-30);
  border-radius: 8px;
  height: 8px;
}

.ui-rangeInput:hover::-webkit-slider-runnable-track,
.ui-rangeInput:hover::-moz-range-track {
  background-color: var(--white-primary-40);
}

.ui-rangeInput::-webkit-slider-thumb,
.ui-rangeInput::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: rgb(var(--accent));
  border-radius: 50%;
  box-sizing: border-box;
  height: 1.5rem;
  width: 1.5rem;
}

.ui-rangeInput:active::-webkit-slider-thumb,
.ui-rangeInput:active::-moz-range-thumb {
  border: 2px solid rgb(var(--white));
}

.ui-colors {
  position: relative;
  cursor: pointer;
  caret-color: transparent;
  color: rgb(var(--text));
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 4px;
  background: rgba(var(--navy), 0.12);
  width: 80px;
}

.ui-colors+label {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0.5px;
  right: 0;
  width: 24px;
  height: 24px;
  border-radius: 0 3px 3px 0;
}

.ui-tooltipAnchor {
  position: absolute;
  top: 0;
  width: 100%;
}

.ui-tooltip {
  pointer-events: none;
  position: absolute;
  opacity: 0;
  bottom: 8px;
  left: -8px;
  padding: 8px;
  background-color: rgb(var(--white));
  border: var(--border-thickness-sm) solid rgb(var(--accent));
  border-radius: var(--border-radius-sm);
  z-index: 100;

  &:after {
    content: "";
    left: calc(50% - 16px);
    bottom: -17px;
    position: absolute;
    border: 16px solid rgb(var(--accent));
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: var(--border-radius-sm);
    transform: rotate(45deg);
    z-index: 99;
  }
}

select+.ui-tooltip {
  bottom: 48px;
}

:hover>.ui-tooltipAnchor .ui-tooltip {
  opacity: 1;
}

.ui-card {
  background-color: rgb(var(--white));
  padding: 8px;
  border-radius: var(--border-radius-sm);
  max-height: calc(100% - 16px);
  display: flex;
  flex-flow: column nowrap;
  gap: 0.25rem;

  >li {
    list-style-type: none;
    position: relative;
    padding: 8px;
    background: var(--white-primary-10);
    border: var(--border-thickness-sm) solid rgba(var(--black) / 0.13);
    border-radius: var(--border-radius-sm);
  }
}

#version {
  font-weight: bold;
  text-align: center;
}

.ui-preferenceIo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ui-importRow {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
}

.ui-preferenceIo button {
  flex: 1;
  font-size: 20px;
  text-align: center;
  border: var(--border-thickness-lg) solid var(--accent-primary-30);
  border-radius: var(--border-radius-sm);
  text-decoration: none;
  position: relative;
  color: rgb(var(--white));
  background-color: rgb(var(--accent));
}

.ui-preferenceIo button:hover {
  background-color: var(--accent-primary-10);
}

#ui-fileImport {
  display: none;
}

#ui-preferenceText {
  font-family: "Fira Code", "Courier New", Courier, monospace;
  font-weight: bold;
  height: calc(100vh - 306px);
}

.ui-aboutLink {
  background-color: var(--white-primary-10);
  border: var(--border-thickness-sm) solid rgba(var(--black) / 0.13);
  border-radius: var(--border-radius-sm);
  text-decoration: none;
  padding: 0.25rem;

  &:hover {
    background-color: var(--white-primary-20);
  }
}

a.ui-aboutLink {
  display: flex;
  font-size: 24px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.ui-changelog {
  padding: 0.25rem 0.75rem;
}

.ui-changelog :is(h1, h2) {
  text-align: center;
}

.ui-changelog h3 {
  font-weight: bold;
}

.ui-changelog ul {
  margin-left: 1rem;
  list-style: disc;
}

.ui-new {
  color: rgb(var(--accent));
}