@media (min-width: 990px) {
  [data-css~='bluespaceLayout'] > [data-css~='newDesktopLayout'] { margin-top: 55px; }
  [data-css~='navSubHeader'] {
    position: sticky;
    top: 0;
    height: 36px;
    width: 240px !important;
    background: RGB(var(--white));
    z-index: 1;
    margin: 0 !important;
    padding: 5px 20px 5px 10px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .875rem;
    color: rgba(var(--black),.65) !important;
    line-height: 1.5;
    box-sizing: border-box;

    &::before {
      background: rgba(var(--black),.07);
      content: '';
      width: 100%;
      height: 36px;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
    }
    a { color: rgba(var(--black),.65) !important; }
  }

  [data-css~='summaryInfo'][data-css~='sticky'] { top: 75px; }

  [data-css~='popoverHolder']:has([data-css~='homeMenu']) { transform: translatex(-20px) !important; }
  [data-css~='homeMenu'], #account_subnav {
    background: RGB(var(--white));
    color: RGB(var(--black));
    max-height: 90vh;
    width: 240px;
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: none;
    scrollbar-width: thin;
    scrollbar-color: rgba(var(--black),.4)rgba(var(--white),.1);
    position: fixed;
    top: 48px;
    border-radius: var(--border-radius-small);
    box-shadow: 0 0 15px rgba(0,0,0,.5);
  }
  #glass-container [data-css~='arrow'] { display: none; }
  
  [data-css~='subNav'] {
    [data-css~='childWrapper'], [data-css~='blogName'] { color: RGB(var(--black)) !important; }
    [data-css~='endChildWrapper'], [data-css~='reorderButton'],
    [data-css~='blogTitle'] { color: rgba(var(--black),.65) !important; }
    > [data-css~='navItem'], [data-css~='accountStats'] li { list-style-type: none; }
    > [data-css~='navItem']:hover,
    [data-css~='accountStats'] li:hover { background-color: rgb(var(--seccondary-accent)); }
    [data-css~='navItem'] { font-weight: 500; }
    [data-css~='navItem'] [data-css~='navLink'] {
      min-height: 41px;
      column-gap: 12px;
      padding: 0 20px 0 10px;
    }
  }

  [data-css~='blogTile'] { border-top: 1px solid rgba(var(--black),.13); }
  button.dbplus-hnav {
    transform: rotate(0deg);
    display: flex;
    transition: transform 200ms ease-in-out 0s;

    use { --icon-color-primary: rgba(var(--black),.65) }
  }
  span.dbplus-hnav-count { color: rgba(var(--black),.65); }

  [data-css~='navInfo'] [data-css~='childWrapper'] {
    display: flex;
    align-items: center;
  }
  [data-css~='childWrapper'] > svg { margin-right: 10px; }
  [data-css~='startChildWrapper'] > svg {
    width: 21px !important;
    height: 21px !important;
  }
  [data-css~='startChildWrapper'] + [data-css~='navInfo']:not([data-css~='homeMenu'] div, #account_subnav div) { display: none !important; }
  [data-css~='badge'][data-css~='notificationBadge'] {
    visibility: visible !important;
    min-width: 11px !important;
    height: 17px !important;
    padding: 0 3px;
    font-size: .78125rem !important;
    box-sizing: content-box !important;
    top: -48% !important;
    left: 65% !important;
  }
  .dbplus-hnav [data-css~='headingLink'] {
    text-decoration: none;
    color: rgba(var(--black),.65);
  }
  [data-css~='searchSidebarItem'] {
    max-width: 480px;
    width: 100%;
    position: fixed;
    top: 10px;
    left: 140px;
    z-index: 100;
    height: fit-content;
    padding: 0;
    margin-top: 0;
  }
  [data-css~='searchShadow'] { display: none; }
  .dbplus-hnav [data-css~='searchIcon'] {
    display: flex;
    margin: 0 2px 0 12px;
  }
  .dbplus-hnav [data-css~='searchIcon'] svg use { --icon-color-primary: rgba(var(--white-on-dark),.65); }
  .dbplus-hnav:focus-within [data-css~='searchIcon'] svg use { --icon-color-primary: rgba(var(--black),.65); }
  [data-css~='logoContainer'] {
    justify-content: center;
    padding: 0px;
    display: flex;
    position: absolute;
    left: 100px;
  }
  [data-css~='navigationWrapper'] {
    height: 55px;
    display: flex;
    justify-content: center !important;
    width: 100%;
    margin: 0 !important;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    background-color: RGB(var(--navy));
    border-bottom: 1px solid rgba(var(--white-on-dark), .13);
    box-sizing: border-box;
  }
  [data-css~='navigation'] {
    max-width: 1716px !important;
    width: 100% !important;
    margin: auto;
    border: none;
    position: absolute !important;
  }
  [data-css~='primaryNavigation'] {
    height: 55px;
    padding: 0;
    justify-content: center;
  }
  [data-css~='navigationLinks'] {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 55px;
    position: absolute;
    z-index: 100;
    right: 70px;

    [data-css~='navItem'][data-title="Settings"], [data-css~='navItem'][data-title="Get a domain"],
    [data-css~='navItem'][data-title="Go Ad-Free"] { display: none;}
  }
  [data-css~='notificationBadgeIn'] {
    font-size: .8rem !important;
    height: 21px !important;
    top: -40% !important;
    visibility: visible !important;
  }
  [data-css~='navItem'][data-css~='open'] { border: none !important; }
  [data-css~='navigationLinks'] {
    > [data-css~='targetPopoverWrapper'],
    > [data-css~='navItem'] {
      width: 20px;
      margin: 0 16px;
    }

    > [data-css~='targetPopoverWrapper'] [data-css~='navLink']
    > [data-css~='navItem'] [data-css~='navLink'] {
      padding: 0;
      gap: 0;
      justify-content: center;
    }
    

    > [data-css~='targetPopoverWrapper'] [data-css~="navItem"]:hover,
    > [data-css~="navItem"]:hover { background-color: transparent; }

    [data-css~='navItem'][data-title='Home'] { order: -8; }
    [data-css~='navItem'][data-title='Explore'] { order: -7; }
    > [data-css~='targetPopoverWrapper']:has([data-title='TumblrMart']) { order: -6; }
    [data-css~='navItem'][data-title='Inbox'] { order: -5; }
    > [data-css~='targetPopoverWrapper']:has([data-title='Messages']) { order: -4; }
    > [data-css~='targetPopoverWrapper']:has([data-title='Activity']) { order: -3; }
    > [data-css~='targetPopoverWrapper']:has([data-title='Account']) { order: -2; }
  }

  [data-css~='mainContentWrapper'] {
    flex-basis: 976px;
    margin-top: 34px;
  }
  [data-css~='container']:not(#glass-container div) { margin: 0; }
  [data-css~='main'] {
    padding: 0 !important;
    border: none !important;
  }
  [data-css~='sidebar'] {
    min-width: 320px !important;
    margin-left: 29px !important;
  }
  [data-css~='tabsHeader'] {
    position: static;
    margin: 0 !important;
  }
  [data-css~='stickyContainer'] > [data-css~='avatar'] { top: calc(70px + var(--dashboard-tabs-header-height, 0px)) !important; }
  [data-css~='createPost'] {
    height: 55px;
    padding: 12px 20px;
    position: absolute;
    justify-content: flex-end !important;
  }
  [data-css~='createPostButton'] {
    gap: 0 !important;
    border-radius: var(--border-radius-small) !important;
    max-width: 45px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 0px !important;
  }
  [data-css~='container'][data-css~='mainContentIs4ColumnMasonry'] { margin: 0 auto !important; }
  @media (max-width: 1150px) {
    [data-css~='searchSidebarItem'] {
      left: 60px;
      width: 320px;
    }
  }
  @media (min-width: 1716px) {
    [data-css~='searchSidebarItem'] { left: 240px; }
  }
}