[data-css~="blogLink"]:has([data-css~="blogFollowing"]) {
  display: inline-flex;
  align-items: flex-start;
}

[data-css~="userBlock"] .dbplus-mutuals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1.5rem;
}