.dbplus-quickReblog-statusContainer {
  pointer-events: none;
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: center;
  bottom: -4rem;
  opacity: 0;
  animation: 0.5s ease-in-out 1 normal forwards slidein,
    0.5s ease-in-out 3s 1 reverse forwards slidein;
}

.dbplus-quickReblog-status {
  padding: .5rem;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: .5rem;
}

.dbplus-quickReblog-menu {
  position: absolute;
  z-index: 50;
}

.dbplus-quickReblog-bubble {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  background-color: var(--accent);
  height: 3rem;
  width: 3rem;
  transition: transform .15s;
}

.dbplus-quickReblog-bubble:first-child {
  box-shadow: 0px 0px 0px 2px var(--accent);
}

.dbplus-quickReblog-bubble:is(:hover, [data-state="hover"]) {
  transform: scale(1.1);
  animation: 1s ease-in-out infinite wiggle;
}

/* .dbplus-quickReblog-bubble:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.dbplus-quickReblog-bubble img {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

@keyframes slidein {
  from {
    opacity: 0;
    bottom: -4rem;
  }

  to {
    opacity: 1;
    bottom: 4rem;
  }
}

@keyframes wiggle {
  0% {
    transform: scale(1.1)rotate(0);
  }

  30% {
    transform: scale(1.1)rotate(15deg);
  }

  60% {
    transform: scale(1.1)rotate(-15deg);
  }

  90% {
    transform: scale(1.1)rotate(0);
  }

  100% {
    transform: scale(1.1)rotate(0);
  }
}