.dbplus-reblogFinder-tab {
  cursor: pointer;
  font-family: var(--font-family);
  border-bottom: 2px solid transparent;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  padding: 10px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  display: flex;

  svg { pointer-events: none; }
  &[active="true"] {
    color: RGB(var(--pink));
    border-bottom-color: rgb(var(--pink));

    use { --icon-color-primary: rgb(var(--pink)); }
  }
}

#dbplus-reblogFinder-search {
  color: rgba(var(--black),.65);
  height: 60px;
  background-color: rgba(var(--black),.05);
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  transition: background-color .25s;
  display: flex;
  overflow: hidden;
  margin: 15px var(--post-padding) 0;
}
#dbplus-reblogFinder-search:focus-within {
  color: rgb(var(--black));
  outline: none;
  border: none;
}
.dbplus-reblogFinder-icon {
  flex-shrink: 0;
  justify-content: flex-end;
  align-items: center;
  height: 34px;
  margin-left: 12px;
  margin-right: 2px;
  display: flex;
}
#dbplus-reblogFinder-search:focus-within .dbplus-reblogFinder-icon use { --icon-color-primary: rgba(var(--black),.65)}
#dbplus-reblogFinder-input {
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  line-height: 1.5;
}
#dbplus-reblogFinder-search:focus-within #dbplus-reblogFinder-input::placeholder { opacity: 0.4; }

[data-css~="root"][data-reblog-finder-hidden] { display: none; }