[dbplus-safescroll-hidden][data-css~="avatarWrapperInner"] {
  overflow: clip;

  img {
    filter: blur(8px);
    transition: filter 0.3s;
  }
  &:hover img { filter: none; }
}

[dbplus-safescroll-hidden="blur"] {
  overflow: clip;

  &[data-css~="avatarWrapperInner"] img,
  &[data-css~="imageBlock"] img,
  &[data-css~="videoBlock"] video {
    filter: blur(8px);
    transition: filter 0.3s;
  }
  &[data-css~="avatarWrapperInner"]:hover img,
  &[data-css~="imageBlock"]:hover img,
  &[data-css~="videoBlock"]:hover video { filter: none; }

  [data-css~="textBlock"] p {
    color: rgba(var(--black), 0);
    text-shadow: rgb(var(--black)) 1px 0 8px;
  }
  &:hover [data-css~="textBlock"] p {
    color: inherit;
    text-shadow: none;
  }
}

[dbplus-safescroll-hidden="cover"] {
  [data-css~="textBlock"] { position: relative; }
  &[data-css~="imageBlock"]:after,
  &[data-css~="videoBlock"]:after,
  [data-css~="textBlock"]:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: color-mix(in srgb, rgb(var(--navy)) 20%, rgb(var(--white)));
    line-height: 1.5;
    font-weight: bold;
    color: rgba(var(--black), .65);
    content: "filtered by safeScroll";
    text-align: center;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.3s;
  }
  &[data-css~="imageBlock"]:hover:after,
  &[data-css~="videoBlock"]:hover:after,
  &:hover [data-css~="textBlock"]:after { opacity: 0; }
}