[data-safescroll-hidden][data-css~="avatarWrapperInner"] {
  overflow: clip;

  img {
    filter: blur(8px);
    transition: filter 0.3s;
  }
  &:hover img { filter: none; }
}

[data-safescroll-hidden="blur"] {
  [data-css~="textBlock"] { position: relative; }
  &[data-css~="imageBlock"],
  &[data-css~="videoBlock"],
  [data-css~="textBlock"] {
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg, rgba(var(--blue), .2), rgba(var(--pink),.2));
      content: "";
      backdrop-filter: blur(20px);
      pointer-events: none;
      opacity: 1;
      transition: opacity 0.3s;
    }
    &:hover:after { opacity: 0; }
  }
}

[data-safescroll-hidden="cover"] {
  [data-css~="textBlock"] { position: relative; }
  &[data-css~="imageBlock"],
  &[data-css~="videoBlock"],
  [data-css~="textBlock"] {
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: color-mix(in srgb, rgb(var(--navy)) 20%, rgb(var(--white)));
      line-height: 1.5;
      font-weight: bold;
      color: rgba(var(--black), .65);
      content: "filtered by safeScroll";
      text-align: center;
      pointer-events: none;
      opacity: 1;
      transition: opacity 0.3s;
    }
    &:hover:after { opacity: 0; }
  }
}

[data-safescroll-hidden="collapse"] {
  [data-css~="textBlock"] { position: relative; }
  &[data-css~="imageBlock"],
  &[data-css~="videoBlock"],
  [data-css~="textBlock"] {
    & {
      position: relative;
      transition: height 0.3s;
    }
    &:not(:hover) {
      height: 1.5rem;
      overflow: hidden;
    }
    &:not(:hover) [data-css~="placeholder"] { padding-bottom: 0 !important }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: color-mix(in srgb, rgb(var(--navy)) 20%, rgb(var(--white)));
      line-height: 1.5;
      font-weight: bold;
      color: rgba(var(--black), .65);
      content: "filtered by safeScroll";
      text-align: center;
      pointer-events: none;
      opacity: 1;
      transition: opacity 0.3s;
    }
    &:hover:after { opacity: 0; }
  }
}

article[data-safescroll-hidden="hidePost"] {
  & {
    position: relative;
    transition: height 0.3s;
  }
  &:not(:hover) {
    height: 1.5rem;
    overflow: hidden;
  }
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: color-mix(in srgb, rgb(var(--navy)) 20%, rgb(var(--white)));
    line-height: 1.5;
    font-weight: bold;
    color: rgba(var(--black), .65);
    content: "filtered by safeScroll";
    text-align: center;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.3s;
  }
  &:hover:after { opacity: 0; }
}