[data-css~="pollAnswerPercentage"] {
  position: relative; bottom: 4px;
}
[data-css~="results"] { overflow: hidden; }
.dbplus-answerVoteCount {
  position: absolute;
  bottom: -2px;
  right: 16px;
  font-size: 12px;
}