.dbplus-timelineSearchContainer {
  color: rgba(var(--white-on-dark), 0.65);
  background-color: rgba(var(--white-on-dark), 0.25);
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: background-color 0.25s;
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
}
.dbplus-timelineSearchContainer:focus-within {
  color: rgb(var(--black));
  background-color: rgb(var(--white));
  outline: none;
  border: none;
}
.dbplus-timelineSearchIcon {
  flex-shrink: 0;
  justify-content: flex-end;
  align-items: center;
  height: 34px;
  margin-left: 12px;
  margin-right: 2px;
  display: flex;
}
.dbplus-timelineSearchIcon use {
  --icon-color-primary: rgba(var(--white-on-dark), 0.65);
}
.dbplus-timelineSearchContainer:focus-within .dbplus-timelineSearchIcon use {
  --icon-color-primary: rgba(var(--black), 0.65);
}
#dbplus-timelineSearchTextarea {
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  line-height: 1.5;
}
.dbplus-timelineSearchContainer:focus-within
  #dbplus-timelineSearchTextarea::placeholder {
  opacity: 0.4;
}

[data-timeline-id]
  [data-css~="listTimelineObject"]:has([data-timeline-id-search-hidden]) {
  display: none;
}
